*.iml
.gradle
/.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Detekt
/reports

# CI/CDE
.env.*
**/fastlane/*.md
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output
