*.iml
.gradle
/.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/codeStyles/codeStyleConfig.xml
/app/src/main/res/values/colors.xml
/app/src/main/res/values/strings.xml
/app/src/main/res/values/styles.xml
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/shelf/.xml
